# Python
__pycache__/
*.pyc
.env

# Root Virtual Environment Folders
Scripts/
Lib/
Include/
bin/
lib/
share/
pyvenv.cfg
.Python

# Old venv style (just in case)
venv/
.venv/

# Temp Data
temp_uploads/
layouts/
*.pdf
*.log

# Audio
*.wav

# System
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Backend Data
backend/data/
